

*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

img{
  width: 100%;
}

.clearfix::after{      /* Clearfix serve per fixare determinati bug grafici. per utilizzarlo basta dare all'elemento buggato la class="clearfix" */
  content:"";
  clear: both;
  display: table;
}


main{
  background-image: url(../Img/Background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: calc(100vh - 217px - 83px);
}


/********* Header ********/

header {
  background-color: gray;
  padding: 20px;
  border-bottom: double black 10px;
}

header #logo {
  padding: 0 0 10px 0;
  margin: 0 auto;
  display: block;
  width:fit-content;
}

#logo img{
width:10vw;
min-width: 100px;
}

nav ul{
  text-align: center;
  margin: 0;
}

nav ul li, footer ul li{
  display: inline-block;
  padding: 10px;
  border-radius: 18px; 
}

nav ul li a, footer ul li a{
  color: rgba(194,194,194,255);
  -webkit-text-stroke: 2px rgba(73,73,73,255);
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  border-radius: 18px; 
}

/********* Main Content ********/
/****** Gallery *****/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.li_item{
vertical-align: top;
float:left;
margin:0;
padding:10px;
}

.background_item{
  background-color: grey;
  border: solid black 3px;
  border-radius: 10%;
}

.li_Caption, .li_picture, .li_item h1 {
  margin:0;
}

.li_Caption h1, .li_item a{
  color:black;
}

.li_picture img{
  border-top-left-radius: 10% ;
  border-top-right-radius: 10% ;
  border-bottom: black double 5px;
}

.li_Caption{
  padding:10px;
}

.li_item h1 {
  text-align:center;

}



/*********  Footer ********/

footer {
  background-color: gray;
  border-top: double black 10px;
}

footer ul{
margin:0;
padding:15px;
}








@media only screen and (min-width: 780px) {

  /***************************** NAV *************************************/

  nav ul li a,   footer ul li a {
    transition: .6s;
  }

  nav ul li a:hover{
      background-color: rgb(106, 112, 106);
      border: solid white 3px;
      color: white;
      -webkit-text-stroke: 2px white;
    }

  footer ul li a:hover {
    background-color: rgb(106, 112, 106);
    border: solid white 3px;
    color: white;
    -webkit-text-stroke: 2px white;
  }

  .li_item {
    width: 32.5%;
  }

  .li_item:nth-child(3n + 1){
    clear:left;
  }

  .li_item :hover{
    opacity: 0.9;
    transition: .6s;

  }

  .li_item:hover .li_item img { 
    border: solid white 3px; 
  }

  }